body {
    margin: 0;
    background: url('../images/bg1.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    backdrop-filter: none;
    overflow-x: hidden;
}

header {
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.text-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    font-size: 27px;
    font-weight: 600;
}

.back-icon {
    width: 35px; /* Adjust the width as needed */
    height: 35px; /* Adjust the height as needed */
}

.square {
    margin-top: 30px;
    background-color: rgba(30, 19, 98, 0.76); /* Adjusted for transparency */
    width: 430px;  /* Adjust width as needed */
    height: 800px; /* Adjust height as needed */
    border-radius: 10px;
    overflow-y: scroll;
}

.issuer-form {
    display: flex;
    flex-direction: column;

}

.issuer-form label {
    margin-left: 20px;
}

.issuer-form input {
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.issuer-form button {
    padding: 10px;
    background-color: #34C3E0; /* Change the background color here */
    color: #fff; /* Change the text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 80px;
    margin-top: 40px;
    width:130px;
}

.issuer-form input#name {
    margin-left: 30px;
    margin-top: 10px;
    width: 330px;
}

.issuer-form input#email {
    margin-left: 30px;
    margin-top: 10px;
    width: 330px;
}

.issuer-form input#password {
    margin-left: 30px;
    margin-top: 10px;
    width: 330px;
}

.issuer-form input#nric {
    margin-left: 30px;
    margin-top: 10px;
    width: 330px;
}

.issuer-form label.name-label {
    margin-left: 30px;
    margin-top: 40px;
}

.issuer-form label.email-label {
    margin-left: 30px;
}

.issuer-form label.password-label {
    margin-left: 30px;
}

.issuer-form label.nric-label {
    margin-left: 30px;
}

.issuer-form .checkbox-container {
    margin-left: 30px;
    margin-bottom: 20px;
}

.issuer-form .checkbox-container label.school-purpose-label {
    margin: 0px;
}

.issuer-form .checkbox-container input[type="checkbox"].big-checkbox {
    margin-bottom: 0px;
}

#polytechnic {
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* Set background color */
    color: #1E1362; /* Set text color */
    font-family: 'Poppins', sans-serif; /* Apply font */
    width: 340px;
    margin-left: 20px; /* Add left margin */
}

.hidden {
    display: none;
}

.button-container #discard {
    padding: 10px;
    background-color: #E1058C; /* Change the background color here */
    color: #fff; /* Change the text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    width:130px;
    margin-left:30px;
}

.issuer-form button:disabled {
    background-color: grey; /* Grey out the button */
    cursor: not-allowed;    /* Change cursor to indicate it's disabled */
}

.blur {
    filter: blur(5px); /* Change the blur intensity as needed */
    transition: filter 0.3s ease; /* Add transition effect for smooth blur/unblur */
}

#page-container.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Set the height to cover the entire viewport */
    backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
    z-index: 999; /* Ensure the overlay is on top of other content */
}

#modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1f21; /* Background color for the modal */
    padding: 20px;
    width: 320px;
    border-radius: 10px;
    z-index: 1000; /* Ensure the modal is above the overlay */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#modal-box .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-box .modal-content h3 {
    margin-bottom: 10px;
    color: #fff; /* Text color */
    font-size: 25px;
}

#modal-box .modal-content p {
    margin-bottom: 20px;
    color: #fff; /* Text color */
    font-size: 13px;
    margin: 0px;
}

#modal-box .modal-content button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

#modal-box .modal-content button#confirm-discard {
    background-color: #E1058C; /* Confirm button color */
    color: #fff;
}

#modal-box .modal-content button#cancel-discard {
    background-color: #34C3E0; /* Cancel button color */
    color: #fff;
}

.issuer-form #school-fields {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.labels-container {
    display: flex;
    justify-content: space-between;
}

.labels-container .school-label, 
.labels-container .diploma-label {
    margin: 0 10px;
}

.dropdowns-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.dropdowns-container select {
    width: 45%;
}


#school-fields.hidden {
    display: none;
}

.school-input {
    margin-left: 20px;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* Set background color */
    color: #1E1362; /* Set text color */
    font-family: 'Poppins', sans-serif; /* Apply font */
}

.diploma-input {
    margin-left: 70px;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* Set background color */
    color: #1E1362; /* Set text color */
    font-family: 'Poppins', sans-serif; /* Apply font */
}

label.diploma-label {
    margin-left: 140px;
}

